<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div  class="py-4">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" 
                   id="home-tab" data-toggle="tab" 
                   href="#home" role="tab" 
                   aria-controls="home" aria-selected="true">Operar Matrices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="documentation-tab" 
                   data-toggle="tab" href="#documentation" 
                   role="tab" aria-controls="documentation" 
                   aria-selected="false">Documentación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="info-tab" 
                   data-toggle="tab" href="#info" 
                   role="tab" aria-controls="info" 
                   aria-selected="false">Información del Sistema</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="about-tab" 
                     data-toggle="tab" href="#about" 
                     role="tab" aria-controls="about" 
                     aria-selected="false">Acerca De</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <p-fieldset legend="Agregar Valores">
                      <div class="ui-inputgroup">
                          <p-chips [(ngModel)]="valFila" 
                                   [disabled]="matrices.length > 1"></p-chips>            
                      </div>
                      <hr>
                      <div class="border-right">
                          <button type="button" label="Agregar Fila" 
                                  icon="pi pi-plus"
                                  pButton
                                  [disabled]="matrices.length > 1"
                                  class="ui-button-raised "
                                  (click)="addRow()"></button>
              
                          <button  type="button" label="Borrar Datos" 
                                     icon="pi pi-trash"
                                     pButton
                                     [disabled]="matriz[0].length === 0 && matrices.length === 0"
                                     class="ui-button-raised ui-button-danger"
                                     (click)="deleteData()"></button>
                          
                          <button pButton type="button" 
                                  label="Agregar Matriz" 
                                  class="ui-button-raised ui-button-success"
                                  icon="pi pi-plus-circle"
                                  [disabled]="matriz[0].length === 0"
                                  (click)="addMatriz()"
                                  ></button>
                      </div>
                      <div class="button-option">

                          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                              <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" 
                                        class="btn btn-success btn-sm dropdown-toggle" 
                                        data-toggle="dropdown" 
                                        aria-haspopup="true" 
                                        aria-expanded="false"
                                        [disabled]="matrices.length === 0">
                                        <i class="fas fa-cogs"></i> 
                                  Operaciones Disponibles
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                  <a class="dropdown-item" 
                                     (click)="determinanteMatriz()"
                                     [hidden]="matrices.length === 0 || matrices.length > 1">Hallar Determinante</a>
                                  <a class="dropdown-item" 
                                     (click)="inversaMatriz()"
                                     [hidden]="matrices.length === 0 || matrices.length > 1">Hallar La Inversa</a>
                                  <a class="dropdown-item" 
                                     (click)="sumarMatriz()"
                                     [hidden]="matrices.length < 2">Sumar Matrices</a>
                                  <a class="dropdown-item" 
                                     (click)="restarMatriz()"
                                     [hidden]="matrices.length < 2">Restar Matrices</a>
                                  <a class="dropdown-item" 
                                     (click)="multiplicarMatriz()"
                                     [hidden]="matrices.length < 2">Multiplicar Matrices</a>
                                </div>
                              </div>
                            </div>
                      </div>
                  </p-fieldset>
              
              <div class="row">
                  <div class="col-12 py-4">
                      <table *ngIf="matriz[0].length > 0">
                          <tr *ngFor="let fila of matriz" >
                            <td *ngFor="let col of fila" class="value-matriz">
                              {{col}}
                            </td>
                          </tr>
                      </table>
                      <hr>
                  </div>
                  
                  <div class="col-lg-12" *ngIf="matrices.length > 0">
                      <div  *ngFor="let fila2 of matrices; let i = index" 
                           class="content-matriz col-lg-4">
                      
                          <table class="tabla">
                              <tr *ngFor="let col2 of fila2" >
                                <td *ngFor="let val of col2" class="value-matriz">
                                  {{val}}
                                </td>
                              </tr>
                          </table>
                      </div>
                  </div>

                      <div class="col-lg-12 py-4" *ngIf="visible === 1">
                          <p *ngIf="matrizResultado[0].length > 0">El resultado de calcular {{operacion}} es:</p> 
                          <span *ngIf="determinante !== ''">El resultado de calcular {{operacion}} es: {{determinante}}</span>
                      </div>

                      <div class="col-lg-12">
                          <table *ngIf="matrizResultado[0].length > 0" class="">
                              <tr *ngFor="let fila of matrizResultado" >
                                <td *ngFor="let col of fila" class="value-matriz">
                                  {{col}}
                                </td>
                              </tr>
                          </table>
                      </div>
                    
                  </div>
              </div>

              <div class="tab-pane fade" id="documentation" role="tabpanel" aria-labelledby="documentation-tab">...</div>
              <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">...</div>
              <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                <div class="row">
                    <div class="col-lg-12 py-4">
                      <h4>Desarrollado por los estudiantes:</h4>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let person of student">
                        <div class="card" style="width: 360px;">
                            <div class="card-header text-center">{{person.job}}</div>
                            <img src="assets/images/{{person.photo}}" class="card-img-top" alt="">
                            <div class="card-body">
                              <!-- <h5 class="card-title">{{person.name}}</h5> -->
                              <h6>{{person.name}}</h6>
                              <hr>
                              <h4>{{person.profession}}</h4>
                              <p class="card-text text-justify">{{person.description}}</p>
                            </div>
                            <div class="card-footer">
                                <strong *ngIf="person.social !== ''">{{person.red}}: </strong>{{person.social}}
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
      </div>
      
    </div>
  </div>
</div>