<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div  class="py-4">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" 
                   id="home-tab" data-toggle="tab" 
                   href="#home" role="tab" 
                   aria-controls="home" aria-selected="true">Operar Matrices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="documentation-tab" 
                   data-toggle="tab" href="#documentation" 
                   role="tab" aria-controls="documentation" 
                   aria-selected="false">Documentación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="info-tab" 
                   data-toggle="tab" href="#info" 
                   role="tab" aria-controls="info" 
                   aria-selected="false">Información del Sistema</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="about-tab" 
                     data-toggle="tab" href="#about" 
                     role="tab" aria-controls="about" 
                     aria-selected="false">Acerca De</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <p-fieldset legend="Agregar Valores">
                      <div class="ui-inputgroup">
                          <p-chips [(ngModel)]="valFila" 
                                   [disabled]="matrices.length > 1"></p-chips>            
                      </div>
                      <hr>
                      <div class="border-right">
                          <button type="button" label="Agregar Fila" 
                                  icon="pi pi-plus"
                                  pButton
                                  [disabled]="matrices.length > 1"
                                  class="ui-button-raised "
                                  (click)="addRow()"></button>
              
                          <button  type="button" label="Borrar Datos" 
                                     icon="pi pi-trash"
                                     pButton
                                     [disabled]="matriz[0].length === 0 && matrices.length === 0"
                                     class="ui-button-raised ui-button-danger"
                                     (click)="deleteData()"></button>
                          
                          <button pButton type="button" 
                                  label="Agregar Matriz" 
                                  class="ui-button-raised ui-button-success"
                                  icon="pi pi-plus-circle"
                                  [disabled]="matriz[0].length === 0"
                                  (click)="addMatriz()"
                                  ></button>
                      </div>
                      <div class="button-option">

                          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                              <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" 
                                        class="btn btn-success btn-sm dropdown-toggle" 
                                        data-toggle="dropdown" 
                                        aria-haspopup="true" 
                                        aria-expanded="false"
                                        [disabled]="matrices.length === 0">
                                        <i class="fas fa-cogs"></i> 
                                  Operaciones Disponibles
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                  <a class="dropdown-item" 
                                     (click)="determinanteMatriz()"
                                     [hidden]="matrices.length === 0 || matrices.length > 1">Hallar Determinante</a>
                                  <a class="dropdown-item" 
                                     (click)="inversaMatriz()"
                                     [hidden]="matrices.length === 0 || matrices.length > 1">Hallar La Inversa</a>
                                  <a class="dropdown-item" 
                                     (click)="sumarMatriz()"
                                     [hidden]="matrices.length < 2">Sumar Matrices</a>
                                  <a class="dropdown-item" 
                                     (click)="restarMatriz()"
                                     [hidden]="matrices.length < 2">Restar Matrices</a>
                                  <a class="dropdown-item" 
                                     (click)="multiplicarMatriz()"
                                     [hidden]="matrices.length < 2">Multiplicar Matrices</a>
                                </div>
                              </div>
                            </div>
                      </div>
                  </p-fieldset>
              
              <div class="row">
                  <div class="col-12 py-4">
                      <table *ngIf="matriz[0].length > 0">
                          <tr *ngFor="let fila of matriz" >
                            <td *ngFor="let col of fila" class="value-matriz">
                              {{col}}
                            </td>
                          </tr>
                      </table>
                      <hr>
                  </div>
                  
                  <div class="col-lg-12" *ngIf="matrices.length > 0">
                      <div  *ngFor="let fila2 of matrices; let i = index" 
                           class="content-matriz col-lg-4">
                      
                          <table class="tabla">
                              <tr *ngFor="let col2 of fila2" >
                                <td *ngFor="let val of col2" class="value-matriz">
                                  {{val}}
                                </td>
                              </tr>
                          </table>
                      </div>
                  </div>

                      <div class="col-lg-12 py-4" *ngIf="visible === 1">
                          <p *ngIf="matrizResultado[0].length > 0">El resultado de calcular {{operacion}} es:</p> 
                          <span *ngIf="determinante !== ''">El resultado de calcular {{operacion}} es: {{determinante}}</span>
                      </div>

                      <div class="col-lg-12">
                          <table *ngIf="matrizResultado[0].length > 0" class="">
                              <tr *ngFor="let fila of matrizResultado" >
                                <td *ngFor="let col of fila" class="value-matriz">
                                  {{col}}
                                </td>
                              </tr>
                          </table>
                      </div>
                    
                  </div>
              </div>

              <div class="tab-pane fade" id="documentation" role="tabpanel" aria-labelledby="documentation-tab">
                <div class="row">
                  <div class="col-12 text-center py-4">
                    <h1>Manual de Usuario</h1>	
                    <p>Bienvenido al manual de usuario, aqui encontraras los pasos que debes realizar al momento de ejecutar alguna acción en el sistema.</p>
                    <hr>
                  </div>
              
                  <div class="col-12 col-md-6 ">
                    <h4 class="text-center">Opciones del Sistema</h4>
                    <hr>
                    <img src="assets/images/option_system.png" width="100%">
                    <hr>
                    <ul>
                      <li>
                        <strong>Operar Matrices:</strong>
                        <p>Esta sesión de la aplicación esta dedicada a los procesos y operaciones que se pueden realizar con los valores ingresados en las matrices.</p>
                      </li>
                      <li>
                        <strong>Documentación:</strong>
                        <p>Manual de uso. (Página Actual)</p>
                      </li>
                      <li>
                        <strong>Información del Sistema:</strong>
                        <p>Datos correspondientes al desarrollo de la aplicación, Framework, Lenguaje de programación, librerias utilizadas, versiones y demás.</p>
                      </li>
                      <li>
                        <strong>Acerca de:</strong>
                        <p>Desarrolladores de la aplciación.</p>
                      </li>
                    </ul>
                  </div>	
              
                  <div class="col-12 col-md-6 ">
                    <h4 class="text-center">Operar Matrices</h4>
                    <hr>
                    <div class="overflow-auto operar-matriz">
                      <h6>Interfaz de Usuario</h6>
                    <img src="assets/images/operar_matriz.png" width="100%">
                    <h6 class="py-4">Opciones del usuario:</h6>
                    <ul>
                      <li>
                        <strong>Agregar valores</strong>
                        <p>En esta parte se agregan los valores de la matriz, estos se ingresan por fila.</p>
                        <img src="assets/images/agregar_valor.png" >
                        <p>Los valores se ingresan en la caja de texto (Input)</p>
                        <img src="assets/images/valor_1.png">
                        <p>una vez ingresado, se debe presionar la tecla "Enter" para que el sistema lo detecte como un valor nuevo.</p>
                        <img src="assets/images/valor_2.png">
                        <hr>
              
                      </li>
                      <li>
                        <strong>Agregar Fila</strong>
                        <p>Una vez ya se tienen los valores deseados para la fila de la matriz, se presiona el botón <span class="badge badge-primary"> <i class="fas fa-plus"></i> Agregar Fila</span>, al momento de presionar esta opción se debe tener en cuenta lo siguiente:</p>
                        <ul>
                          <li>
                            <p>Si se agregan 3 valores (1, 2, 3) es decir que esta fila tendrá 3 columnas.</p>
                            <img src="assets/images/add_fila_1.png">
                            <p>Al momento de presionar el botón <span class="badge badge-primary"> <i class="fas fa-plus"></i> Agregar Fila</span>, el resultado seria el siguiente, una matriz de 1x3 ==> 1 Fila con 3 Columnas.</p>
                            <img src="assets/images/matriz_1.png">
                            <p>Al momento de agregar la segunda fila se tiene que tener en cuenta esta misma cantidad de columnas, para este ejemplo estamos creando una matriz con n filas y 3 columnas.</p>
                            <img src="assets/images/matriz_2.png">
                            <p>El resultado seria el siguiente, una vez agreguemos esta siguiente Fila:</p>
                            <img src="assets/images/matriz_3.png">
                            <hr>
                          </li>
                          <li>
                            <p>Cambiando de ejemplo, que pasaria si creamos la primera fila de la siguiente manera:</p>
                            <img src="assets/images/add_fila_1.png">
                            <p>El resultado seria el siguiente:</p>
                            <img src="assets/images/add_fila_1_matriz.png">
                            <p>Ahora le agregamos una segunda fila, pero en esta ocasión no vamos a agregar los 3 valores o las 3 columnas, sino que agregaremos 2 valores correspondientes a la columna 1 y la columna 2</p>
                            <img src="assets/images/add_fila_2.png">
                            <p>en tal caso el sistema entendera que la tercera columna esta vacia y la rellenara con un 0 (cero).</p>
                            <img src="assets/images/add_fila_3.png">
                            <p>Ahora a nuestra matriz de 2X3 vamos a agregarle una siguiente fila, pero en esta ocasión seran 4 valores o columnas, las que queremos agregar</p>
                            <img src="assets/images/add_fila_4.png">
                            <p>Asi mismo como el sistema relleno el espacio o la columna faltante, el sistema entiende que se cambio la dimensión de la matriz, pasando de ser nX3 a nX4, donde n es la cantidad de Filas, y con esto se procede a rellenar los valores faltantes con 0 (ceros).</p>
                            <img src="assets/images/add_fila_5.png">
                          </li>
                        </ul>
                        <hr>
                      </li>
                      <li>
                        <strong>Borrar Datos</strong>
                        <ul>
                          <li>
                            <p>Si los datos ingresados no son correctos o en tal caso se desea realizar una nueva operacion con matrices diferentes, es en estos momentos donde <span class="badge badge-danger"> <i class="fas fa-trash-alt"></i> Borrar Datos</span> es la mejor opción.</p>
                          </li>
                          <li>
                            <p>Al presionar el boton <span class="badge badge-danger"> <i class="fas fa-trash-alt"></i> Borrar Datos</span> Todo se reinicia, de tal forma que los resultados, los valores y las operaciones disponibles, retornan a su valor por defecto.</p>
                          </li>
                        </ul>
                        
                      </li>
                      <li>
                        <strong>Agregar Matriz</strong>
                        <p>Cuando ya se tenga la matriz completamente llena, tal como se desea, se debe presionar el botón <span class="badge badge-success"> <i class="fas fa-plus-circle"></i> Agregar Matriz</span>, esto permitira guardar la matriz y habilitar las operaciones correspondientes.</p>
                        <img src="assets/images/add_matriz_2.png" width="100%">
                        <p>El maáximo número de matrices que se pueden operar es: <strong>2</strong>, una vez alcanzado este limite, las opciones de <span class="badge badge-primary"> <i class="fas fa-plus"></i> Agregar Fila</span> y <span class="badge badge-success"> <i class="fas fa-plus-circle"></i> Agregar Matriz</span> se inhabilitaran, de igual forma las <span class="badge badge-success"> <i class="fas fa-cogs"></i>  Operaciones Disponibles</span> </p>
                      </li>
                      <li>
                        <strong>Operaciones Disponibles</strong>
                        <p>Una vez se tenga la matriz o las matrices, las opciones que se muestran en el botón <span class="badge badge-success"> <i class="fas fa-cogs"></i>  Operaciones Disponibles</span> se mostrarán o se ocultaran. Las operaciones que se pueden realizar son las siguientes:</p>
                        <ul>
                          <li>Hallar el determinante</li>
                          <li>Hallar la matriz inversa</li>
                          <li>Hallar la suma de 2 matrices</li>
                          <li>Hallar la resta de 2 matrices</li>
                          <li>Hallar la multiplicación de 2 matrices</li>
                        </ul>
                        <p>Si se desea realizar operaciones con una sola matriz, entonces las operaciones disponibles serán las siguientes:</p>
                        <img src="assets/images/operacion_1.png" width="">
                        <p>Si se desea realizar operaciones con dos (2) matrices, entonces las operaciones disponibles serán las siguientes:</p>
                        <img src="assets/images/operacion_2.png" width="">
                      </li>
                    </ul>
              
                  </div>
                  <div class="col-12">
                    <hr>
                  </div>	
                  
                </div>
                    </div>
                    
              </div>

              <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                <div class="row">
                  <div class="col-12 py-4">
                    <h2 class="text-center">App Matriz - UNIAJC</h2>
                    <hr>
                  </div>
                  <div class="col-12 col-lg-6 py-4">
                    <h4 class="text-center">Front-End</h4>
                    <hr>
                    <p>Este proyecto se generó con Angular CLI versión 8.1.3</p>
                    <p>Lenguaje de Programación JavaScript</p>
                    <p>Para la construcción del Front-End se utilizaron las siguientes librerias:</p>
                    <ul>
                      <li>Bootstrap versión 4.3.1</li>
                      <li>SweetAlert2 versión 8.18.3</li>
                    </ul>
                  </div>
                  <div class="col-12 col-lg-6 py-4">
                    <h4 class="text-center">Back-End</h4>
                    <hr>
                    <p>El back-end se desarrollo con Spring Boot versión 2.1.7.RELEASE</p>
                    <p>Lenguaje de Programación JAVA.</p>
                    <p>Para la construcción del Back-End se utilizaron las siguientes dependencias:</p>
                    <ul>
                      <li>Gson versión 2.8.6</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                <div class="row">
                    <div class="col-lg-12 py-4">
                      <h4>Desarrollado por los estudiantes:</h4>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let person of student">
                        <div class="card" style="width: 360px;">
                            <div class="card-header text-center">{{person.job}}</div>
                            <img src="assets/images/{{person.photo}}" class="card-img-top" alt="">
                            <div class="card-body">
                              <!-- <h5 class="card-title">{{person.name}}</h5> -->
                              <h6>{{person.name}}</h6>
                              <hr>
                              <h4>{{person.profession}}</h4>
                              <p class="card-text text-justify">{{person.description}}</p>
                            </div>
                            <div class="card-footer">
                                <strong *ngIf="person.social !== ''">{{person.red}}: </strong>{{person.social}}
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
      </div>
      
    </div>
  </div>
</div>