<h3>Operaciones con Matrices</h3>
<p-tabMenu [model]="items" [activeItem]="activeItem" >
  <ng-template pTemplate="item" let-item let-i="index" >
      <div style="position: relative; text-align: center; min-width: 10em" (click)="viewData(item.id)">
          <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
          <div class="ui-menuitem-text">
              {{item.label}}
          </div>
          
      </div>
      
  </ng-template>
</p-tabMenu>

<div *ngIf="visible === 0">

    <p-fieldset legend="Agregar Valores">
        <div class="ui-inputgroup">
            <p-chips [(ngModel)]="valFila" ></p-chips>            
        </div>
        <hr>
        <div class="border-right">
            <p-button  type="button" label="Agregar Fila" 
                       icon="pi pi-plus"
                       class="ui-button-raised "
                       (click)="addRow()"></p-button>

            <button  type="button" label="Borrar Datos" 
                       icon="pi pi-trash"
                       pButton
                       [disabled]="matriz[0].length === 0 && matrices.length === 0"
                       class="ui-button-raised ui-button-danger"
                       (click)="deleteData()"></button>
            
            <button pButton type="button" 
                    label="Agregar Matriz" 
                    class="ui-button-raised ui-button-success"
                    icon="pi pi-plus-circle"
                    [disabled]="matriz[0].length === 0"
                    (click)="addMatriz()"
                    ></button>
        </div>
        <div class="button-option">
          <button pButton type="button" 
                  label="Calcular Inversa" 
                  class="ui-button-raised ui-button-secondary"
                  [disabled]="matrices.length === 0"></button>
          <button pButton type="button" 
                  label="Sumar Matrices" 
                  class="ui-button-raised ui-button-success"
                  [disabled]="matrices.length < 2"></button>
          <button pButton type="button" label="Restar Matrices" 
                  class="ui-button-raised ui-button-info"
                  [disabled]="matrices.length < 2"></button>
          <button pButton type="button" label="Multiplicar Matrices" 
                  class="ui-button-raised ui-button-warning"
                  [disabled]="matrices.length < 2"></button>
          <button pButton type="button" label="Hallar Determinante" 
                  class="ui-button-raised ui-button-danger"
                  [disabled]="matrices.length === 0"></button>
        </div>

    </p-fieldset>

  
  <!-- show values matriz -->
  <div >
      <table *ngIf="matriz[0].length > 0">
          <tr *ngFor="let fila of matriz" >
            <td *ngFor="let col of fila" class="value-matriz">
              {{col}}
            </td>
          </tr>
      </table>
  </div>
  <hr>
  <div *ngIf="matrices.length > 0" class="content-matriz">
      <table *ngFor="let fila2 of matrices">
          <tr  *ngFor="let col2 of fila2" >
            <td class="value-matriz">
              {{col2}}
            </td>
          </tr>
      </table>
  </div>
  


</div>

<!-- Tab About -->
<div *ngIf="visible === 3">
    <div class="ui-g">
      <div class="ui-g-12">
        <h2>Desarrollado por:</h2>
      </div>
      <div class="ui-lg-4 ui-md-6 ui-sm-12" *ngFor="let person of student">
          <p-card header="{{person.name}}" subheader="{{person.job}}" [style]="{width: '360px'}" styleClass="ui-card-shadow">
              <p-header>
                  <img *ngIf="person.photo !== ''" src="Card" src="assets/images/{{person.photo}}">
              </p-header>
              <div>
                <h3>{{person.profession}}</h3>
                <p class="text-justify">{{person.description}}</p>
              </div>
              <p-footer class="bg-footer">
                  <strong *ngIf="person.social !== ''">{{person.red}}: </strong>{{person.social}}
              </p-footer>
            </p-card>
      </div>
    </div>
  
</div>



